html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
.navbar{
    padding: .8rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 80%;
}
.fa-facebook{
    color: #3b5998;
    font-size: 4.5em;
    margin: 3rem;
    transition: .7s;
}
.fa-facebook:hover{
    color: #d5d5d5;

}
footer{
    padding-top: 2rem;
    color: #d5d5d5;
    background-color: #3f3f3f;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.navbar-nav li{
    padding-right: 1.4rem;
}
.nav-link {
    font-size: 1.1em !important;
}
.imagemInfo{
    transition-duration: 1s;
}
.btn-primary{
    transition: .5s;
}
.padding {
    padding-bottom: 2rem;
}
.carousel-inner img{
    width: 70%;
    height: 70%;
}
.carousel-caption h3{

    text-shadow: 1px 1px 1px 200px #000;
}
#caption1{

    top: 0;
    bottom: auto;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.caption{

}
#openNav{

}
.logo{
    height: 6vh;

}
#slides{
    margin-bottom: 5vh;
}

#inicio{
    padding-left: 7vh;
    padding-right: 7vh;
}

/*   media queries  */
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
    }
    .carousel-caption h1{
        font-size: 350%;
    }
    .zonaInicio{
        width: 90%;
    }
    .display-4{
        font-size: 200%;
    }

}
@media (max-width: 576px) {
    .carousel-caption h3{
        font-size: 100%;
        font-weight: 400;
    }
    .carousel-caption h1{
        font-size: 200%;
    }
    #inicio{
        padding-left: 0;
        padding-right: 0;

    }
    .zonaInicio{
        width: 100%;
    }
    .carousel-inner img{
        width: 90%;
        height: 100%;
    }
}
.myclass{
    width: auto;
    margin: 5%;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

.escolha{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
/*
576px ->small devices  (phones) sm
768px ->medium devices (tablets) md
992px ->large devices (desktops) lg
1200px ->very large devices (large desktops) xl
 */